{
	"__name__": "RigConfiguration",
	"__module__": "poser.libs.rigconfiguration",
	"name": "Azri",
	"controllerPatterns":
	[
		"CTL_*"
	],
	"controllerPriorities":
	[
		"CTL_C_World1",
		"CTL_C_Root1",
		"CTL_C_Spine1",
		"CTL_C_SpineFK?",
		"CTL_C_Pelvis1", 
		"CTL_*_HipFk1",
		"CTL_*_KneeFk1",  
		"CTL_*_FootFk1",
		"CTL_*_ToeFk1",
		"CTL_*_FootIK1", 
		"CTL_*_LegPV1",
		"CTL_*_Clav1", 
		"CTL_*_ShoulderFk1",
		"CTL_*_ElbowFk1",
		"CTL_*_Hand1",
		"CTL_*_HandIk1", 
		"CTL_*_ArmPV1", 
		"CTL_*_Index?",
		"CTL_*_Thumb?",
		"CTL_*_Middle?",
		"CTL_*_Ring?",
		"CTL_*_Pinky?",
		"CTL_C_Neck?", 
		"CTL_C_Head?", 
		"CTL_C_Jaw?"
	]
}