{
	"__name__": "RigConfiguration",
	"__module__": "poser.libs.rigconfiguration",
	"name": "Dubson",
	"controllerPatterns":
	[
		"*_control"
	],
	"controllerPriorities":
	[
		"main_control", 
		"M_spine_fk_?_control", "M_hip_control", "M_spine_ik_1_control", "M_spine_ik_3_control", "M_spine_ik_2_control", 
		"?_leg_ik_control", "?_leg_ik_polevector_control", "?_leg_fk_?_control",
		"?_shoulder_control", "?_arm_ik_control", "?_arm_ik_polevector_control", "?_arm_fk_?_control", 
		"?_thumb_?_control", "?_index_?_control", "?_pinky_?_control", 
		"M_neck_control", "M_head_control", "head_up_control", "head_low_control", "jaw_control"
	]
}