{
	"__name__": "RigConfiguration",
	"__module__": "poser.libs.rigconfiguration",
	"name": "Frame44",
	"controllerPatterns":
	[
		"_Ctrl_*", 
		"_Control_*", 
		"_weapAtt_*", 
		"_Node_Motion",
		"Cam_*"
	],
	"controllerPriorities":
	[
		"_Node_Motion", "_Ctrl_World", "_Ctrl_Master", 
		"_Ctrl_Waist", "_Ctrl_Hips", 
		"_Ctrl_LegStretch_?", "_Ctrl_IKlocal_Leg_?", "_Ctrl_IKworld_Leg_?", "_Ctrl_Foot_?", "_Ctrl_Foot_HeelRoll_?", "_Ctrl_Foot_ToeRoll_?", "_Ctrl_Foot_BallRoll_?", "_Ctrl_KneeLookAt_?", 
		"_Ctrl_Spine", "_Ctrl_Spine1", "_Ctrl_Spine2", "_Ctrl_Spine3", "_Ctrl_Chest", 
		"_Ctrl_Shoulder_?", "_Ctrl_Arm_?", "_Ctrl_FK_Bicep_?", "_Ctrl_FK_Elbow_?", "_Ctrl_IKlocal_Arm_?", "_Ctrl_IKworld_Arm_?", "_Ctrl_Arm_IK_?", "_Ctrl_ElbowLookAt_?", "_Ctrl_Hand_?", "_Ctrl_HandRock_?", "_Ctrl_Finger_Pin_*", 
		"_Ctrl_Neck", "_Ctrl_Head_Target", "_Ctrl_Head", "_Ctrl_Face_Jaw", "_Ctrl_Face_Nose", "_Ctrl_Face_MouthUp*", "_Ctrl_Face_MouthLow*"
	]
}