{
	"__name__": "RigConfiguration",
	"__module__": "poser.libs.rigconfiguration",
	"name": "KielFiggins",
	"controllerPatterns":
	[
		"CTRL_*"
	],
	"controllerPriorities":
	[
		"CTRL_*_World",
		"CTRL_?__WristPinner",
		"CTRL_?__FootPinner",
		"CTRL_Spine_Pinner",
		"CTRL_HeadPinner",
		"CTRL_*_FK", 
		"CTRL_Hips", 
		"CTRL_Chest", 
		"CTRL_?__Foot", 
		"CTRL_?__KneePole", 
		"CTRL_FK_?__Hip",
		"CTRL_?__Collar", 
		"CTRL_?__Hand", 
		"CTRL_?__ElbowPole", 
		"CTRL_FK_?__Shoulder", 
		"CTRL_Neck_Pivot", 
		"CTRL_Head", 
		"CTRL_*_Fc_Jaw_Global"
	]
}