{
	"__name__": "RigConfiguration",
	"__module__": "ezposer.libs.rigconfiguration",
	"name": "MGear",
	"controllerPatterns":
	[
		"*_ctl"
	],
	"controllerPriorities":
	[
		"world_ctl", "root_C0_ctl",  
		"spineUI_C0_ctl", "body_C0_ctl", "spine_C0_ik0_ctl", "spine_C0_pelvis_ctl", 
		"legUI_?0_ctl", "leg_?0_root_ctl", "leg_?0_ikcns_ctl", "leg_?0_ik_ctl", "leg_?0_roll_ctl", "foot_?0_roll_ctl", "foot_?0_heel_ctl", "foot_?0_tip_ctl", "foot_?0_bk0_ctl", "foot_?0_bk1_ctl", "foot_?0_fk0_ctl", "leg_?0_tweakEnd_ctl", "leg_?0_upv_ctl", "leg_?0_mid_ctl", "leg_?0_uplegBendyA_ctl", "leg_?0_lowlegBendyB_ctl", 
		"spine_C0_spinePosition_ctl", "spine_C0_ik1_ctl", "spine_C0_tan1_ctl", "spine_C0_tan0_ctl", "spine_C0_fk0_ctl", "spine_C0_fk1_ctl", "spine_C0_fk2_ctl", "spine_C0_fk3_ctl", "spine_C0_chest_ctl", 
		"armUI_?0_ctl", "shoulder_?0_ctl", "shoulder_?0_orbit_ctl", "arm_?0_ikcns_ctl", "arm_?0_ikcns_ctl", "arm_?0_ik_ctl", "arm_?0_roll_ctl", "arm_?0_upv_ctl", "arm_?0_ikRot_ctl", "arm_?0_mid_ctl", "arm_?0_armBendyA_ctl", "arm_?0_forearmBendyB_ctl", 
		"faceUI_C0_ctl", "neck_C0_ik_ctl", "neck_C0_fk0_ctl", "neck_C0_fk1_ctl", "neck_C0_fk2_ctl", "neck_C0_head_ctl", "mouth_C0_jaw_ctl", "eye_?0_ik_ctl"
	]
}