{
	"__name__": "RigConfiguration",
	"__module__": "ezposer.libs.rigconfiguration",
	"name": "Rig o'tron",
	"controllerPatterns":
	[
		"*_CTRL"
	],
	"controllerPriorities":
	[
		"Master_CTRL", "Motion_CTRL", "Root_CTRL", 
		"COG_CTRL", "Waist_CTRL", "Hips_CTRL", 
		"Tail_Base_CTRL", "Tail_Rotate_Base_CTRL", "Tail_Rotate_Tip_CTRL", "Tail_IK_Base_CTRL", "Tail_IK_Tip_CTRL", "Tail_FK??_Rot_CTRL", "Tail_FK??_Trans_CTRL", "Tail_??_CTRL", 
		"?_Leg_CTRL", "?_Thigh_FK_CTRL", "?_Calf_FK_CTRL", "?_Ankle_IK_CTRL", "?_Leg_PV_CTRL", "?_Knee_CTRL", 
		"?_Foot_CTRL", "?_Foot_Inside_CTRL", "?_Foot_Outside_CTRL", "?_Foot_Heel_CTRL", "?_Foot_ToeTip_CTRL", "?_Foot_Ball_CTRL", 
		"Spine_FK01_Rot_CTRL", "Spine_FK02_Rot_CTRL", "Spine_FK03_Rot_CTRL", "Chest_FK_CTRL", "Chest_IK_CTRL", 
		"?_Clavicle_CTRL", "?_Arm_CTRL", "?_UpperArm_FK_CTRL", "?_Forearm_FK_CTRL", "?_Wrist_IK_CTRL", "?_Arm_PV_CTRL", "?_Elbow_CTRL", 
		"?_Hand_CTRL", "?_Hand_Knuckle_CTRL", "?_Hand_*Metacarpal_CTRL", "?_Hand_*Finger_Master_CTRL", "?_Hand_*Finger_IK_CTRL", "?_Hand_*Finger??_CTRL", 
		"Neck_CTRL", "Head_LookAt_CTRL", "Head_CTRL", "Jaw_CTRL"
	]
}