{
	"__name__": "RigConfiguration",
	"__module__": "ezposer.libs.rigconfiguration",
	"name": "Stoff",
	"controllerPatterns":
	[
		"CC_*", 
		"CN_*"
	],
	"controllerPriorities":
	[
		"CC_GOD", "Bip001_GLOBAL",
		"CN_Bip001_ArmSettings_?",
		"CN_Bip001_LegSettings_?",
		"CN_fk_Bip001_Spine?", 
		"CC_Pelvis", "CN_Bip001_Pelvis",
		"CN_Bip001_ChestTilt",
		"CC_Chest", "CN_Bip001_Chest",
		"CC_Foot_?", "CN_Bip001_ik_Foot_?",
		"CC_PV_Knee_?", "CN_Bip001_pv_Leg_?",
		"CN_Bip001_fk_Thigh_?",
		"CC_Clavicle_?", "CN_Bip001_Clavicle_?",
		"CC_IK_Hand_?", "CN_Bip001_ik_Hand_?",
		"CC_PV_Elbow_?", "CN_Bip001_pv_Arm_?",
		"CC_Upperarm_?", "CN_Bip001_fk_UpperArm_?",
		"CC_Bip001_*_?", "CN_Bip001_*_?",
		"CC_Neck", 
		"CC_Head", 
		"CN_Bip001_Jaw"
	]
}